*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 16px;
    color: #2d3c49;
}
.responsive-img {
    height: auto;
    max-width: 100%;
}
.text-hdr {
    font-size: 6vw;
}
.text-item, .icon {
    font-size: 4vw;
}
.header {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 4px solid #7d97ad;
    padding-bottom: 20px;
}
.header-logo {
    margin-top: 20px;
}
.header-name, .header-title, .featured-header {
    text-transform: uppercase;
} 
.content-header, .featured-item {
    text-align: center;
}
.content-header {
    color: #7d97ad;
}
.featured-work {
    margin-top: 30px;
}
.featured-item {
    margin: 20px 0;
}
.featured-link {
    text-decoration: none;
    color: #02b3e4;
}
.featured-link:hover {
    text-decoration: underline;
}
.footer {
    text-align: center;
    border-top: 3px solid #7d97ad;
    padding: 20px 0;
}
.fa {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #02b3e4;
    color: white;
}
.fa-twitter {
    background: #02b3e4;
    color: white;
}
.fa-linkedin {
    background: #02b3e4;
    color: white;
}
.fa-envelope {
    background: #02b3e4;
    color: white;
}